@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Output</p>
    <form method="post">
        @*<input type="hidden" asp-for="CorrectAnswer" />*@
         <!-- This is why we put all the variables in hidden inputs -->
        @if (string.IsNullOrWhiteSpace(Model.MyName))
        {

                <label>What is your name</label> <input type="text" asp-for="MyName" />
                <button type="submit">Submit Name</button>
        }
        else
        {
            
            <p>Hello @Model.MyName</p>
            
            @*<input type="text" asp-for="MyName" /> *@
            <!-- The web server doesn't remeber you so you always have to tell it everything it needs to know.-->
            <label>Guess a number from 1-10</label> <input type="number" asp-for="Guess" />
            
            <button type="submit">Guess</button>

        }
    </form>
</div>
